FIREBASE_apikey = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
FIREBASE_authDomain= "xxxx.firebaseapp.com",
FIREBASE_databaseURL = "https://xxxxxxxxxx.firebaseio.com",
FIREBASE_projectId = "xxxxxxxxxxxx",
FIREBASE_storageBucket = "xxxxxxxxxxx.appspot.com",
FIREBASE_messagingSenderId =  "xxxxxxxxxxx"